/*Global Styles*/
body {
  background-color: #efefef;
  color: #020202;
  font-family: arial, "sans-serif";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-width: 400px;
}

.home-page-wrapper {
  margin: 0 20px 0 20px;
}

.admin-wrapper {
  padding-top: 62px;
}


/*Nav bar*/
nav {
  background: #020202; 
  color: #efefef;
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*align-items: stretch;*/
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: #efefef;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  border-right: 1pt solid #efefef;
  display: inline-block;
  width: 100%;
}

.nav-link:hover {
  background-color: #efefef;
  color: #020202; 
}

form {
  text-align: center;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

input, textarea {
  padding: 8px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #555;
  min-width: 360px;
  max-width: 600px;
  width: 80%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #3bde9a;
  box-shadow: 0 0 5px #10bc79;
}

input:focus, textarea:focus {
  outline: 1px solid #00ab68;
}

.btn {
  text-transform: uppercase;
  margin: 10px auto;
}

.btn-primary {
  color: #eee;
  background-color: #3bde9a;
  box-shadow: 0 0 5px #10bc79;
}

input[type=submit]:focus {
  background-color: #10bc79;
  box-shadow: 0 0 10px #10bc79;
  border: 1px solid #10bc79;
  outline: none;
}

#header {
  margin-bottom: -62px; 
}
#header-img {
  background-image: url('/assets/comp1.jpg');
  background-color: #eee;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center; 
  justify-content: center;
}

#header-text {
  color: #fff;
  font-size: 2.0rem;
}

#about {
  padding-top: 62px;
  margin-bottom: -62px;
}

#contact {
  padding-top: 62px;
  margin-bottom: -62px; 
}

#posts {
  padding-top: 62px;
  margin-bottom: -62px; 
}

#footer {
  padding-top: 62px;
}

.alert {
  padding: 20px;
  font-size: 1.1rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.alert-success {
  color: #222;
  background-color: #D4EDDA;
  border-color: #B3CBB0;
  
}

.alert-danger {
  color: #222;
  background-color: #F8D7DA;
  border-color: #D6B5B8; 
}

.alert-warning {
  color: #222;
  background-color: #FFF3CD;
  border-color: #B0CAD0;
}

.closebtn {
  margin-left: 15px;
  color: #222;
  font-weight: bold;
  float: right;
  font-size: 1.5rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/*Main page blog post styling*/
#post-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.main-page-post {
  width: 30%;
  border-radius: 5px;
  padding: 1%;
  box-shadow: 0 0 5px #020202;
}

.main-page-post:hover {
  box-shadow: 0 0 10px #020202;
}


@media only screen and (max-width: 767px) {
  #post-wrapper {
    flex-direction: column;
  }

  .main-page-post {
    width: 100%;

  }
}