<h1>Admin Dashboard</h1>

<% if admin? %>
<p> Hello <%= @user.username %></p>
<h2>Posts</h2>
<hr>
<%= link_to 'View all posts', admin_posts_path %> | 
<%= link_to 'New post', admin_posts_new_path %> | 
<%= link_to 'Last post', "/admin/posts/#{@last}" %>
<% end %>
