<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name %>">
    <%= name.upcase %>: <%= msg %>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>     
  </div>
<% end %>

  
